@import "~/src/css/variables.scss";

.input {
  width: 100%;
  margin-bottom: 20px;
  padding: 14px;
  color: $black;
  font-size: 16px;
  line-height: 20px;
  border: 1px solid $grey;
  border-radius: 6px;

  &::placeholder {
    color: $grey;
  }
}
