@import "/src/css/variables.scss";

.btn {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  padding: 14px;
  color: $white;
  background-color: $blue;
  border: none;
  border-radius: 6px;
  width: 100%;
  cursor: pointer;
  transition: .1s ease-out background-color;

  &:hover {
    background-color: rgba($blue, .8);
  }
}