@import "~/src/css/variables.scss";

.avatar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 130px;
  margin: auto;
  margin-bottom: 30px;
  background: url("~/src/images/image.svg") no-repeat center, $grey-light;
  border-radius: 50%;
  cursor: pointer;

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: $white;
    text-align: center;
    background: $black;
    border-radius: 50%;
    opacity: 0;
    transition: 0.1s ease-out;

    &:hover {
      opacity: 0.5;
    }
  }
}
