@import "~/src/css/variables.scss";

.chat {
  &-page {
    display: flex;
    height: 100%;
  }

  &-sidebar {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    background-color: $blue;
  }

  &-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
  }

  &-empty-label {
    color: $green;
    font-size: 16px;
    line-height: 20px;
  }
}
