@import "~/src/css/variables.scss";

.profile {
  width: 100%;
  max-width: 510px;
  margin: 0 auto;
  padding-top: 60px;

  &__name {
    margin-bottom: 60px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }

  &-fields {
    margin-bottom: 50px;
  }

  &-field {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 14px;
    line-height: 14px;
    border-bottom: 1px solid $grey;

    &__data {
      color: $green;
    }

    &:last-child {
      margin-bottom: 50px;
      border-bottom: 0;
    }
  }

  &-control {
    padding: 10px 0;
    border-bottom: 1px solid $grey;

    &__link {
      font-size: 14px;
      line-height: 14px;

      &--exit {
        color: $red;
      }
    }

    &:last-child {
      margin-bottom: 50px;
      border-bottom: 0;
    }
  }

  &-back {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 100%;
    background: $blue;

    &__arrow {
      width: 28px;
      height: 28px;
      background: url("~/src/images/arrow.svg") no-repeat center, $green;
      border-radius: 50%;
    }
  }

  &__edit-form {
    max-width: 280px;
    margin: 0 auto;
  }
}
