@import "~/src/css/variables.scss";

body {
  font-family: Roboto, sans-serif;
  background-color: $light-blue;
}

.app {
  width: 100vw;
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
